<h1>결과</h1>
<br/>
<a>송신측에서 만든 체크섬 1 = <%= @checkSum1.to_s(2)%></a><br/>
<a>송신측에서 만든 체크섬 2 = <%= @checkSum2.to_s(2)%></a><br/>
<hr/>
<a>송신측에서 받은 데이터를 기준으로 수신측에서 만든 체크섬 1 = <%= @sendCks1.to_s(2)%></a><br/>
<a>송신측에서 받은 데이터를 기준으로 수신측에서 만든 체크섬 2 = <%= @sendCks2.to_s(2)%></a><br/>
<hr/>

<!--무결성 판단부-->
<%
if(@checkSum1 == @sendCks1 && @checkSum2 == @sendCks2)%>
    <h3>데이터가 무결합니다, 전송받은데이터의 값은 <%=@div1+@div2%> 입니다.</h3>
<%else%>
    <h3>데이터가 손상되었습니다.</h3>
<%end%>

<a href="/">다시 확인하러가기</a>
